.gal-list-box {
	padding: 12px;
	border-radius: 15px;
	background-color: var(--bg-5-op);
	position: relative;
}

.gal-list-item {
	left: 15px;
	position: relative;
	transition: all 1s;
	background: var(--bg-5-op);
	min-height: 30px;
	width: 98%;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	border: none;
	background-image: -webkit-linear-gradient(to top right, var(--bg-4), var(--bg-3));
	background-image: -moz-linear-gradient(to top right, var(--bg-4), var(--bg-3));
	background-image: -ms-linear-gradient(to top right, var(--bg-4), var(--bg-3));
	background-image: -o-linear-gradient(to top right, var(--bg-4), var(--bg-3));
	background-image: linear-gradient(to bottom right, var(--bg-4), var(--bg-3));
}

.gal-list-item:hover {
	background-image: -webkit-linear-gradient(to top right, var(--bg-6), var(--bg-4));
	background-image: -moz-linear-gradient(to top right, var(--bg-6), var(--bg-4));
	background-image: -ms-linear-gradient(to top right, var(--bg-6), var(--bg-4));
	background-image: -o-linear-gradient(to top right, var(--bg-6), var(--bg-4));
	background-image: linear-gradient(to bottom right, var(--bg-6), var(--bg-4));
}


.gallery-title {
	height: 20vh;
}
