.imageCard {
	background-color: var(--mc-7);
	height: 255px;
	width: 255px;
	margin: 5px;
	position: relative;
	padding: 7.5px;
	border-radius: 24px;
	z-index: 2;
  box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.56);
  -webkit-box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.56);
}
.imageCard-checked {
	height: 255px;
	width: 255px;
	margin: 5px;
	position: relative;
	padding: 7.5px;
	border-radius: 24px;
	z-index: 2;
  background-color: var(--bg-2);
}

.image-scroll-height {
  overflow-y: scroll;
  overflow-x: hidden;
	position: relative;
  height: 85vh;
	width: 90%;
  padding: 5px;
  box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.56) inset;
  -webkit-box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.56) inset;
  -moz-box-shadow: 12px 12px 24px 0px rgba(0,0,0,0.56) inset;
}

.select-num {
  cursor: pointer;
}

.image  {
	background-color: var(--bg-7);
	height: 240px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
	border-radius: 16px;
	cursor: pointer;
}


@keyframes rotateGradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image-checked::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: -5px;
  border-radius: 47%;
  background: linear-gradient(-45deg, var(--sc-3) 0%, var(--mc-4) 100%);
  transform: translate3d(0, 0, 0) scale(0.85); /* Initial transformation */
  filter: blur(12px);
  animation: rotateGradient 5s linear infinite; /* Apply rotation animation */
}


/* Define initial state for the tooltip */
.image .cardInfo {
  opacity: 0; /* Start with opacity 0 */
  width: 100%;
  background-color: var(--bg-5-op);
  color: var(--mc-7);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  cursor: copy;
  position: absolute;
  top: 45px;
  
  z-index: 2;
  pointer-events: none;
  transform: translateY(10px);
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-delay: .5s; 
}

.image:hover .cardInfo {
  opacity: 1; 
  transform: translateY(0); 
}


.modal-gallery {
	background-color: var(--bg-5) !important;
	height: 100%;
}

.horizontal-list {
  position: relative;
  list-style: none; /* Removes default bullet points */
  padding: 0; /* Removes default padding */
}

.horizontal-list li {
  position: relative;
  display: inline-block; /* Makes list items sit next to each other */
  margin:2px; /* Adds spacing between list items */
}

