:root {
	--bg-1: #C8D4D4;
	--bg-2: #9B9D9D;
	--bg-3: #6A6B6B;
	--bg-4: #383A3A;
	--bg-5: #2A2B2B;
	--bg-6: #1C1D1D;
	--bg-7: #0E0E0E;

	--bg-5-op: #2a2b2be1;
	--bg-3-op: #6A6B6Be1;

	--mc-1: #CCE9D4;
	--mc-2: #99D3A9;
	--mc-3: #65BE7D;
	--mc-4: #32A852;
	--mc-5: #267E3E;
	--mc-6: #195429;
	--mc-7: #0D2A15;

	--mc-3-op: #65BE7D75;
	--mc-4-op: #32a85275;
	--mc-5-op: #267E3E75;
	--mc-7-op: #0D2A1575;

	--sc-1: #D4CCE9;
	--sc-2: #A999D3;
	--sc-3: #7D65BE;
	--sc-4: #5232A8;
	--sc-5: #3E267E;
	--sc-6: #291954;
	--sc-7: #150D2A;

	--sc-7-op: #150D2A75;
}